In [1]:
# Import necessary libraries
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Load the dataset
data = "data/tested.csv"
df = pd.read_csv(data) 

# Display basic info
print("Dataset Info:")
print(df.info())
print("\nFirst 5 rows:")
print(df.head())

# Check for duplicates based on exact matches
print("\nExact duplicates:", df.duplicated().sum())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

First 5 rows:
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

Exact duplicates: 0

In [2]:
# Handle missing values
df['Age'].fillna(df['Age'].median(), inplace=True)  # Impute Age with median
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)  # Impute Embarked with mode
df['Cabin'].fillna('Unknown', inplace=True)  # Impute Cabin with placeholder

# Standardize 'Name' column
df['Name'] = df['Name'].str.strip().str.lower()  # Remove extra spaces and convert to lowercase

# Check for missing values after cleaning
print("\nMissing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

C:\Users\pkuma\AppData\Local\Temp\ipykernel_11064\291772805.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)  # Impute Age with median
C:\Users\pkuma\AppData\Local\Temp\ipykernel_11064\291772805.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)  # Impute Embarked with mode
C:\Users\pkuma\AppData\Local\Temp\ipykernel_11064\291772805.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna('Unknown', inplace=True)  # Impute Cabin with placeholder

In [3]:
# Function to find similar names
def find_duplicates(names, threshold=90):
    duplicates = []
    for i, name in enumerate(names):
        # Compare with all other names
        matches = process.extract(name, names[i+1:], scorer=fuzz.token_sort_ratio)
        # Filter matches above threshold
        for match, score in matches:
            if score >= threshold:
                # Find the index of the match in names[i+1:]
                index = names[i+1:].index(match)
                duplicates.append((i, index + i + 1, name, match, score))
    return duplicates

# Apply fuzzy matching to 'Name' column
names = df['Name'].tolist()
duplicates = find_duplicates(names, threshold=90)

# Display potential duplicates
print("\nPotential duplicates (index, name1, name2, similarity score):")
for dup in duplicates:
    idx1, idx2, name1, name2, score = dup
    print(f"Index {idx1} vs {idx2}: {name1} | {name2} | Score: {score}")

# Example: Inspect duplicate rows
if duplicates:
    duplicate_indices = set([dup[0] for dup in duplicates] + [dup[1] for dup in duplicates])
    print("\nDuplicate rows:")
    print(df.iloc[list(duplicate_indices)][['PassengerId', 'Name', 'Age', 'Ticket', 'Pclass']])

Potential duplicates (index, name1, name2, similarity score):

In [4]:
# Remove duplicates based on fuzzy matches
if duplicates:
    indices_to_drop = [dup[1] for dup in duplicates]  # Keep first occurrence
    df_cleaned = df.drop(indices_to_drop).reset_index(drop=True)
    print(f"\nRemoved {len(indices_to_drop)} duplicate rows.")
else:
    df_cleaned = df.copy()
    print("\nNo duplicates found.")

# Verify the cleaned dataset
print("\nCleaned dataset info:")
print(df_cleaned.info())

No duplicates found.

Cleaned dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          418 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        418 non-null    object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

In [5]:
# Validate: Check for remaining duplicates
print("\nExact duplicates in cleaned dataset:", df_cleaned.duplicated().sum())

# Export cleaned dataset
df_cleaned.to_csv('data/cleaned_tested.csv', index=False)
print("\nCleaned dataset saved as 'data/cleaned_tested.csv'.")

Exact duplicates in cleaned dataset: 0

Cleaned dataset saved as 'data/cleaned_tested.csv'.